<footer class="site-footer">

  <div class="wrap">

    <h2 class="footer-heading">Contact</h2>

    <!--<div class="footer-col-1 column">
      <ul>
        <li>{{ site.title }}</li>
        <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
      </ul>
    </div> -->

    <div class="footer-col-1 column">
      <ul>
        {% if site.github_username %}<li>
          <a href="https://github.com/{{ site.github_username }}">
            <i class="fa fa-github"></i>
            <span class="username">{{ site.github_username }}</span>
          </a>
        </li>{% endif %}
        {% if site.twitter_username %}<li>
          <a href="https://twitter.com/{{ site.twitter_username }}">
            <i class="fa fa-twitter"></i>
            <span class="username">{{ site.twitter_username }}</span>
          </a>
        </li>{% endif %}
      </ul>
    </div>
    <div class="footer-col-2 column">
    <ul>
        {% if site.facebook_username %}<li>
          <a href="https://facebook.com/{{ site.facebook_username }}">
            <i class="fa fa-facebook"></i>
            <span class="username">{{ site.facebook_username }}</span>
          </a>
        </li>{% endif %}
        {% if site.gplus_username %}<li>
          <a href="https://plus.google.com/{{ site.gplus_username }}">
            <i class="fa fa-google-plus"></i>
            <span class="username">{{ site.gplus_username }}</span>
          </a>
        </li>{% endif %}
      </ul>
    </div>

    <div class="footer-col-3 column">
      <ul>
        <li><a href="https://twitter.com/nidaismailshah" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @nidaismailshah</a></li>
        <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
      </ul>
    </div> 
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

</div>

</footer>
