.post-content {
	margin-left: 15%;
	margin-right: 20%;
	margin-bottom: 15px;
	h1 {
		margin: 10px 0 10px 0;
		font-size: 30px;
		font-weight: bold;
	}
	ul {
		list-style: square;
		font-weight: 500;
		padding-left: 3em;
	}
	img {
		display: block;
		padding: 10px;
	}
}
.post pre, .post code {
	border: 1px solid #d5d5e9;
	background-color: #FFF;
	padding: 8px 12px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size: 16px;
	font-weight: 600;
	overflow: scroll;
}
.hire {
  text-align: center;
  margin-top: 4em;
  display: block;
	p {
		background: #575454;
		display: inline-block;
		padding: 5px 10px;
		color: #fff;
		border-radius: 5px;
		font-weight: 300;
	}
	p:hover {
	  cursor: pointer;
	  background: #179490;
	  color: #000;
	  font-weight: 400;
	}
}
.description {
  display: block;
  width: 80%;
  margin: auto;
  padding-top: 1em;
  	.tags {
  		font-weight: 600;
  	}
}
.pic {
    display: block;
    width: 100px;
    margin: auto;
}
.pic img {
      border: 2px solid #575454;
      border-radius: 80px;
      padding: 5px;
}
.tech-posts {
	display: inline-block;
	width: 52%;
	float: left;
}
.poetry-posts {
	display: inline-block;
	width: 45%;
	border-left: 1px solid;
}
.highlight {
	margin: 15px;
}