strong {
	font-weight: bold;
}
em {
	font-style: italic;
}
li em {
  background-color: #f2f2f2;
  padding: 2px;
}
.disclaimer-tag, .fix-tag {
	font-size: 14px;
	font-style: italic;
}
.post-content {
	max-width: 850px;
	margin: auto;
	font-size: 20px;
	padding: 0 15px;
	text-align: justify;
	line-height: 1.6;

	.poetry {
		text-align: center;
    }

	a {
		font-weight: 800;
	}

	a:hover{
		text-decoration: underline;
		color: #000;
		-webkit-transition: color 1s;
		transition: color 1s;
	}

	p {
		font-family: 'Lora', serif;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	h1 {
		margin: 10px 0 10px 0;
		font-size: 30px;
		font-weight: bold;
	}

	ul {
		list-style: square;
		font-weight: 500;
		padding-left: 3em;
	}

	img {
		display: block;
		padding: 10px;
	}
}

.post pre, .post code {
	border: 1px solid #d5d5e9;
	color: #631502;
	background-color: #FFF;
	padding: 8px 12px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size: 16px;
	font-weight: 600;
	overflow: scroll;
}
.highlight {
	margin-top: 15px;
	margin-bottom: 15px;
}
.posts li {
	padding-bottom: 1em;
	border-bottom: 1px solid rgb(206, 206, 206);
}
/* Disqus comments block Styles */

div#disqus_thread {
	padding-top: 2em;
}
/* About Page Styles */

.hire {
  text-align: center;
  margin-top: 4em;
  display: block;
	p {
		background: #205caa;
		display: inline-block;
		padding: 5px 10px;
		color: #fff;
		border-radius: 5px;
		font-weight: 300;
		border-bottom: 2px solid #000;
		text-decoration: line-through;
	}
	p:hover {
	  cursor: pointer;
	  background: #d9d9d9;
	  -webkit-transition: background 0.5s;
	  transition: background 0.5s;
	  border-bottom: none;
	}
}
.about p {
	padding-top: 10px;
	padding-bottom: 10px;
}
.about{
  max-width: 100%;
  margin: auto;
}
.description {
  display: block;
  margin: auto;
  padding-top: 1em;
  	.tags {
  		font-weight: 600;
  		max-width: 600px;
        text-align: center;
        margin: auto;
  	}
}
.pic {
    display: block;
    width: 100px;
    margin: auto;
}
.pic img {
      border: 2px solid #575454;
      border-radius: 80px;
      padding: 5px;
}

/* Header Styles */
.site-header .wrap {
	max-width: 1080px;
	padding: 0 15px;
	margin: auto;
}
.post-header {
   max-width: 850px;
   margin: auto;
   padding: 0 15px;
   margin-top: 3em;
   margin-bottom: 1em;
   @media screen and (max-width: 750px) { 
   	margin-top: 1.5em;
   }
 }
/* Site header */

.site-header {
  min-height: 56px;
  /*background-color: #575454;*/
  height: 100%;
  font-weight: 400;

}

.site-title,
.site-title:hover,
.site-title:visited {
  text-decoration: none;
  display: block;
  color: #fff;
  font-size: 28px;
  font-weight:900;
  letter-spacing: 0px;
  float: left;
  line-height: 56px;
  position: relative;
  z-index: 1;
}

.site-nav {
    line-height: 56px;
}

.site-nav .menu-icon { display: none; }

.site-nav .page-link {
  display: block;
  margin-left: 0px;
  color: #fff;
  letter-spacing: .5px;
}

/* Home Page Styles */

.tagline {
	max-width: 600px;
	text-align: center;
	color: white;
	margin: auto;
	padding-top: 29em;
	font-weight: 100;
	transition: color 1.5s;
}
.opensource {
	font-size: 30px;
	font-weight: 700;
}
.headerp {
  height:7%;
  width:100%;
  position: fixed;
	.site-nav {
	  display: inline-block;
	  float: right;
		.page-link {
		  margin-left:10px;
		  display: inline-block;
		  font-weight: 600;
		}
	}
}
.headerb {
	border-bottom: 1px solid #eaeaea;
	.site-title{
		color: #575454;
		font-weight: 500;
		font-size: 18px;
	}
	.site-nav{
  		float: right;
  		display: inline-block;
  		.page-link{
	  		margin-left:10px;
	  		display: inline-block;
	  		font-weight: 500;
	  		font-size: 14px;
	  		color: #048076;
  		}
  	}
}

