/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/components/_global.scss */
strong {
  font-weight: bold;
}

/* line 4, ../sass/components/_global.scss */
em {
  font-style: italic;
}

/* line 7, ../sass/components/_global.scss */
li em {
  background-color: #f2f2f2;
  padding: 2px;
}

/* line 11, ../sass/components/_global.scss */
.disclaimer-tag, .fix-tag {
  font-size: 14px;
  font-style: italic;
}

/* line 15, ../sass/components/_global.scss */
.post-content {
  max-width: 850px;
  margin: auto;
  font-size: 20px;
  padding: 0 15px;
  text-align: justify;
  line-height: 1.6;
}
/* line 23, ../sass/components/_global.scss */
.post-content .poetry {
  text-align: center;
}
/* line 27, ../sass/components/_global.scss */
.post-content a {
  font-weight: 800;
}
/* line 31, ../sass/components/_global.scss */
.post-content a:hover {
  text-decoration: underline;
  color: #000;
  -webkit-transition: color 1s;
  transition: color 1s;
}
/* line 38, ../sass/components/_global.scss */
.post-content p {
  font-family: 'Lora', serif;
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 44, ../sass/components/_global.scss */
.post-content h1 {
  margin: 10px 0 10px 0;
  font-size: 30px;
  font-weight: bold;
}
/* line 50, ../sass/components/_global.scss */
.post-content ul {
  list-style: square;
  font-weight: 500;
  padding-left: 3em;
}
/* line 56, ../sass/components/_global.scss */
.post-content img {
  display: block;
  padding: 10px;
}

/* line 62, ../sass/components/_global.scss */
.post pre, .post code {
  border: 1px solid #d5d5e9;
  color: #631502;
  background-color: #FFF;
  padding: 8px 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 600;
  overflow: scroll;
}

/* line 74, ../sass/components/_global.scss */
.highlight {
  margin-top: 15px;
  margin-bottom: 15px;
}

/* line 78, ../sass/components/_global.scss */
.posts li {
  padding-bottom: 1em;
  border-bottom: 1px solid #cecece;
}

/* Disqus comments block Styles */
/* line 84, ../sass/components/_global.scss */
div#disqus_thread {
  padding-top: 2em;
}

/* About Page Styles */
/* line 89, ../sass/components/_global.scss */
.hire {
  text-align: center;
  margin-top: 4em;
  display: block;
}
/* line 93, ../sass/components/_global.scss */
.hire p {
  background: #205caa;
  display: inline-block;
  padding: 5px 10px;
  color: #fff;
  border-radius: 5px;
  font-weight: 300;
  border-bottom: 2px solid #000;
  text-decoration: line-through;
}
/* line 103, ../sass/components/_global.scss */
.hire p:hover {
  cursor: pointer;
  background: #d9d9d9;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
  border-bottom: none;
}

/* line 111, ../sass/components/_global.scss */
.about p {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* line 115, ../sass/components/_global.scss */
.about {
  max-width: 100%;
  margin: auto;
}

/* line 119, ../sass/components/_global.scss */
.description {
  display: block;
  margin: auto;
  padding-top: 1em;
}
/* line 123, ../sass/components/_global.scss */
.description .tags {
  font-weight: 600;
  max-width: 600px;
  text-align: center;
  margin: auto;
}

/* line 130, ../sass/components/_global.scss */
.pic {
  display: block;
  width: 100px;
  margin: auto;
}

/* line 135, ../sass/components/_global.scss */
.pic img {
  border: 2px solid #575454;
  border-radius: 80px;
  padding: 5px;
}

/* Header Styles */
/* line 142, ../sass/components/_global.scss */
.site-header .wrap {
  max-width: 1080px;
  padding: 0 15px;
  margin: auto;
}

/* line 147, ../sass/components/_global.scss */
.post-header {
  max-width: 850px;
  margin: auto;
  padding: 0 15px;
  margin-top: 3em;
  margin-bottom: 1em;
}
@media screen and (max-width: 750px) {
  /* line 147, ../sass/components/_global.scss */
  .post-header {
    margin-top: 1.5em;
  }
}

/* Site header */
/* line 159, ../sass/components/_global.scss */
.site-header {
  min-height: 56px;
  /*background-color: #575454;*/
  height: 100%;
  font-weight: 400;
}

/* line 167, ../sass/components/_global.scss */
.site-title,
.site-title:hover,
.site-title:visited {
  text-decoration: none;
  display: block;
  color: #fff;
  font-size: 28px;
  font-weight: 900;
  letter-spacing: 0px;
  float: left;
  line-height: 56px;
  position: relative;
  z-index: 1;
}

/* line 182, ../sass/components/_global.scss */
.site-nav {
  line-height: 56px;
}

/* line 186, ../sass/components/_global.scss */
.site-nav .menu-icon {
  display: none;
}

/* line 188, ../sass/components/_global.scss */
.site-nav .page-link {
  display: block;
  margin-left: 0px;
  color: #fff;
  letter-spacing: .5px;
}

/* Home Page Styles */
/* line 197, ../sass/components/_global.scss */
.tagline {
  max-width: 600px;
  text-align: center;
  color: white;
  margin: auto;
  padding-top: 29em;
  font-weight: 100;
  transition: color 1.5s;
}

/* line 206, ../sass/components/_global.scss */
.opensource {
  font-size: 30px;
  font-weight: 700;
}

/* line 210, ../sass/components/_global.scss */
.headerp {
  height: 7%;
  width: 100%;
  position: fixed;
}
/* line 214, ../sass/components/_global.scss */
.headerp .site-nav {
  display: inline-block;
  float: right;
}
/* line 217, ../sass/components/_global.scss */
.headerp .site-nav .page-link {
  margin-left: 10px;
  display: inline-block;
  font-weight: 600;
}

/* line 224, ../sass/components/_global.scss */
.headerb {
  border-bottom: 1px solid #eaeaea;
}
/* line 226, ../sass/components/_global.scss */
.headerb .site-title {
  color: #575454;
  font-weight: 500;
  font-size: 18px;
}
/* line 231, ../sass/components/_global.scss */
.headerb .site-nav {
  float: right;
  display: inline-block;
}
/* line 234, ../sass/components/_global.scss */
.headerb .site-nav .page-link {
  margin-left: 10px;
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  color: #048076;
}

@media screen and (max-width: 750px) {
  /* line 3, ../sass/components/_layouts.scss */
  .footer-col-1 {
    width: 50%;
  }

  /* line 5, ../sass/components/_layouts.scss */
  .footer-col-2 {
    width: 45%;
    /*fallback*/
    width: -webkit-calc(50% - 10px);
    width: -moz-calc(50% - 10px);
    width: -o-calc(50% - 10px);
    width: calc(50% - 10px);
    margin-right: 0;
  }

  /* line 14, ../sass/components/_layouts.scss */
  .site-footer .column.footer-col-3 {
    width: auto;
    float: none;
    clear: both;
  }
}
@media screen and (max-width: 600px) {
  /* line 23, ../sass/components/_layouts.scss */
  .headerp .page-link {
    color: #575454;
  }

  /* line 27, ../sass/components/_layouts.scss */
  .site-nav:hover .trigger {
    display: block;
  }

  /* line 31, ../sass/components/_layouts.scss */
  .site-nav {
    position: fixed;
    z-index: 10;
    top: 14px;
    right: 8px;
    background-color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #e8e8e8;
  }
  /* line 40, ../sass/components/_layouts.scss */
  .site-nav .page-link {
    display: block;
    text-align: right;
    line-height: 1.25;
    padding: 5px 10px;
    margin: 0;
  }
  /* line 47, ../sass/components/_layouts.scss */
  .site-nav .trigger {
    clear: both;
    margin-bottom: 5px;
    display: none;
  }
  /* line 52, ../sass/components/_layouts.scss */
  .site-nav .menu-icon {
    display: block;
    font-size: 24px;
    color: #505050;
    float: right;
    width: 36px;
    text-align: center;
    line-height: 36px;
  }
  /* line 60, ../sass/components/_layouts.scss */
  .site-nav .menu-icon svg {
    width: 18px;
    height: 16px;
  }

  /* line 67, ../sass/components/_layouts.scss */
  .post-header h1 {
    font-size: 36px;
  }

  /* line 68, ../sass/components/_layouts.scss */
  .post-content h2 {
    font-size: 28px;
  }

  /* line 69, ../sass/components/_layouts.scss */
  .post-content h3 {
    font-size: 22px;
  }

  /* line 70, ../sass/components/_layouts.scss */
  .post-content h4 {
    font-size: 18px;
  }

  /* line 71, ../sass/components/_layouts.scss */
  .post-content blockquote {
    padding-left: 10px;
  }

  /* line 74, ../sass/components/_layouts.scss */
  .post-content ul,
  .post-content ol {
    padding-left: 10px;
  }

  /* line 77, ../sass/components/_layouts.scss */
  .site-footer .column {
    float: none;
    clear: both;
    width: auto;
    margin: 0 0 15px;
  }

  /* .post-content {
    margin: none;
  }
  */
}
