/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/components/_global.scss */
.post-content {
  margin-left: 15%;
  margin-right: 20%;
  margin-bottom: 15px;
}
/* line 5, ../sass/components/_global.scss */
.post-content h1 {
  margin: 10px 0 10px 0;
  font-size: 30px;
  font-weight: bold;
}
/* line 10, ../sass/components/_global.scss */
.post-content ul {
  list-style: square;
  font-weight: 500;
  padding-left: 3em;
}
/* line 15, ../sass/components/_global.scss */
.post-content img {
  display: block;
  padding: 10px;
}

/* line 20, ../sass/components/_global.scss */
.post pre, .post code {
  border: 1px solid #d5d5e9;
  background-color: #FFF;
  padding: 8px 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 600;
  overflow: scroll;
}

/* line 31, ../sass/components/_global.scss */
.hire {
  text-align: center;
  margin-top: 4em;
  display: block;
}
/* line 35, ../sass/components/_global.scss */
.hire p {
  background: #575454;
  display: inline-block;
  padding: 5px 10px;
  color: #fff;
  border-radius: 5px;
  font-weight: 300;
}
/* line 43, ../sass/components/_global.scss */
.hire p:hover {
  cursor: pointer;
  background: #179490;
  color: #000;
  font-weight: 400;
}

/* line 50, ../sass/components/_global.scss */
.description {
  display: block;
  width: 80%;
  margin: auto;
  padding-top: 1em;
}
/* line 55, ../sass/components/_global.scss */
.description .tags {
  font-weight: 600;
}

/* line 59, ../sass/components/_global.scss */
.pic {
  display: block;
  width: 100px;
  margin: auto;
}

/* line 64, ../sass/components/_global.scss */
.pic img {
  border: 2px solid #575454;
  border-radius: 80px;
  padding: 5px;
}

/* line 69, ../sass/components/_global.scss */
.tech-posts {
  display: inline-block;
  width: 52%;
  float: left;
}

/* line 74, ../sass/components/_global.scss */
.poetry-posts {
  display: inline-block;
  width: 45%;
  border-left: 1px solid;
}

/* line 79, ../sass/components/_global.scss */
.highlight {
  margin: 15px;
}
